*,
::after,
::before {
  box-sizing: border-box;
}

.form {
  width: 350px;
}

.form__wrap{
  margin-bottom: 15px;
}

.form__inp {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"], 
input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="checkbox"] {
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}

#remove {
  font-family: inherit;
  background-color: red;
  border: none;
  padding: 10px;
  width: 100%;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 5px #999;
}

#removeAll {
  font-family: inherit;
  background-color: red;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  width:20%
}

#filterReleaseYear,
#filterGenre,
#filterTitle,
#selectFilter {
  width: 20%;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}